body{
    background: rgb(255, 255, 255);
}
h1{
    font-size: 600x;
    color: rgb(15, 92, 192);
    text-align: justify;

}
img{
    width: 300px;
}
.cabecalho{
    background-color: rgb(47, 164, 218);
}
.lista_cabecalho{
    display:flex;
    margin-left: 250px;
}
.item_lista_cabecalho{
    color: aliceblue;
    list-style: none;
    text-align: uppercase;
    font-size: 30px;
    padding: 20px;
}
    

